.message{data: {message_id: "#{message.id}"}}
  .top-info
    .top-info__user-name
      = message.user.name
    .top-info__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .comment
    - if message.content.present?
      %p.lower-message__content
        = message.content
    -# = image_tag message.image.url, class: 'lower-message__image' if message.image.present?