.side
    .user-info
        .user-info__top-box
            %h3.user-info__top-box__user-name
                = current_user.name 
            .user-info__top-box__menu
                =link_to "#" do
                    %i.fas.fa-edit.fa-fw
                =link_to edit_user_path(current_user) do
                    %i.fas.fa-cog.fa-fw

    .groups
        .groups__leftbox
            %p.groups__group__group-name Hiroshima
            %p.groups__group__last-message まだメッセージがありません
            

